# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore environment-specific .env files
.env*

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
.project
.classpath
